<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <title>0</title>
    <script src="vue.global.prod.js"></script>
    <script src="axios.min.js"></script>
    <style>
        .displaynone {
            display: none;
        }

        .button {
            background: #1f9eff;
            box-shadow: 1px 1px 2px #1a86d9,
                -1px -1px 2px #24b6ff;
            width: 2em;
            height: auto;
            margin: 0.5em;
            padding: 0.5em;
        }
    </style>

</head>

<body>
    <div id="body">
        <div @click="reset" class="button">重置</div>
        <div @click="increse" class="button">增加</div>
        <!-- <table>
            <tr><th>关键字：</th><td v-for="i in key_word">{{i['key']}}</td></tr>
        </table> -->
        <table>
            <tr>
                <td v-for="i in range(0,select_num,2)" :key="select_num">
                    <div v-for="key in keys">
                        <input type="radio" :id="key+i" :value.number="keys.indexOf(key)" v-model="picked[i]" />
                        <label :for="key+i">{{key}}</label>
                        <br />
                    </div>
                    <div>
                        <input type="radio" :id="'blank'+i" value="" v-model="picked[i]" checked />
                        <label :for="'blank'+i">空白</label>
                        <br />
                    </div>
                </td>
            </tr>
        </table>
        <div>
            <span>分隔符</span>
            <input type="radio" id="hengxian" value="-" v-model="sep" checked />
            <label for="hengxian">-</label>
            <input type="radio" id="kongge" value=" " v-model="sep" />
            <label for="kongge">空格</label>
            <input type="radio" id="kongbai" value="" v-model="sep" />
            <label for="kongbai">无</label>
        </div>
        <div @click="updata_sep" class="button">选定</div>
        <table>
            <tr>
                <th>格式</th>
                <td v-for="i in picked" style="border:0px solid #000;padding: 0px;margin: 0;border-collapse: collapse;border-spacing: 0;">{{keys[i]?keys[i]:i}}</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>样例</th>
                <td v-for="i in picked" style="border:0px solid #000;padding: 0;margin: 0;border-collapse: collapse;border-spacing: 0;">
                    {{examples[i]?examples[i]:i}}</td>
            </tr>
        </table>
        <input type="text" placeholder="请输入文件夹路径" v-model="path">
        <div @click="submit" class="button">提交</div>
        <div>{{return_set}}</div>
    </div>



    <script>
        const app = Vue.createApp({
            data() {
                return {
                    keys: [],
                    examples: [],
                    sep: '-',
                    picked: [, '.xxx'],
                    path: "",
                    select_num: 2
                }
            },
            methods: {
                range(start, stop, step = 1) {
                    return Array(Math.ceil((stop - start) / step)).fill(start).map((x, y) => x + y * step)
                },
                test() {
                    axios.post("GetData")
                        .then((res) => {
                            var data = res.data;
                            for (i in data) {
                                this.keys.push(data[i]['key'])
                                this.examples.push(data[i]['values'][0])
                            }
                        })
                },
                submit() {
                    axios.post('SubmitExecute', {
                        "path": this.path.replace(/\\/g, "/"),
                        "execute": this.picked
                    }).then((res) => {
                        console.log(res.data)
                        alert(res.data['msg'])
                        window.location.href = window.location.origin+"/Analysis"
                    })
                },
                reset() {
                    window.location.href = window.location.origin+"/GetExcel"
                },
                increse() {
                    this.picked.pop()
                    this.picked.push(this.sep)
                    this.picked.push(undefined)
                    this.picked.push('.xxx');
                    this.select_num += 2;
                },
                updata_sep(){
                    if (this.picked.length > 2) {
                        let list=this.range(1, this.picked.length-1, 2)
                        for (i in list) {
                            console.log(list[i])
                            this.picked[list[i]] = this.return_set;
                        }
                        console.log(this.picked)
                    }
                }

            },
            created() {
                this.test()
            },
            computed:{
                return_set(){
                    console.log(this.sep)
                    return this.sep;
                }
            }
        })
        const vm = app.mount('#body');
    </script>

</body>

</html>