<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <title>选取命名格式</title>
    <script src="vue.global.prod.js"></script>
    <script src="axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="page-head">
        <div class="title">Format Name</div>
        <div class="compass"><a
                href="https://gitee.com/Jim-Tom/format-name/blob/master/README.md#%E4%BD%BF%E7%94%A8%E6%89%8B%E5%86%8C"
                target="_blank">使用手册</a>
        </div>
    </header>
    <table id="body">
        <tr>
            <td>
                <div @click="reset" class="button" style="width: 30%;">重新选择Excel</div>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td v-for="i in range(0,picked.length,2)">
                            <div v-for="key in keys">
                                <input type="radio" :id="key+i" :value.number="keys.indexOf(key)" v-model="picked[i]" />
                                <label :for="key+i">{{key}}</label>
                                <br />
                            </div>
                            <div>
                                <input type="radio" :id="'blank'+i" value="" v-model="picked[i]" />
                                <label :for="'blank'+i">空白</label>
                                <br />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div @click="increse" class="button">增加</div>
                <div @click="decrese" class="button">减少</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <span>分隔符</span>
                    <input type="radio" id="hengxian" value="-" v-model="sep" checked />
                    <label for="hengxian">-</label>
                    <input type="radio" id="kongge" value=" " v-model="sep" />
                    <label for="kongge">空格</label>
                    <input type="radio" id="kongbai" value="" v-model="sep" />
                    <label for="kongbai">无</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <th>格式：</th>
                        <td>{{return_format}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <th>样例：</th>
                        <td>{{return_example}}</td>
                    </tr>
                </table>
                <div>{{updata_sep}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="请输入文件夹路径" v-model="path">
            </td>
        </tr>
        <tr>
            <td>
                <div @click="submit" class="button">提交</div>
            </td>
        </tr>

    </table>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    keys: [],
                    examples: [],
                    sep: '-',
                    picked: [0, '-', 0],
                    path: "",
                }
            },
            methods: {
                range(start, stop, step = 1) {
                    return Array(Math.ceil((stop - start) / step)).fill(start).map((x, y) => x + y * step)
                },
                get_data() {
                    axios.post("GetData")
                        .then((res) => {
                            var data = res.data;
                            let keys = [];
                            let examples = [];
                            for (i in data) {
                                keys.push(data[i]['key'])
                                examples.push(data[i]['values'][0])
                            }
                            this.keys = keys;
                            this.examples = examples;
                        })
                },
                submit() {
                    axios.post('SubmitExecute', {
                        "path": this.path.replace(/\\/g, "/"),
                        "execute": this.picked
                    }).then((res) => {
                        console.log(res.data)
                        alert(res.data['msg'])

                        if (res.data['code'] == 0) {
                            window.location.href = window.location.origin + "/Analysis"
                        }

                    })
                },
                reset() {
                    window.location.href = window.location.origin + "/GetExcel"
                },
                increse() {
                    this.picked.push(this.sep, 0)
                },
                decrese() {
                    if (this.picked.length > 2) {
                        this.picked = this.picked.slice(0, -2);
                    }
                }
            },
            created() {
                this.get_data()
            },
            computed: {
                updata_sep() {
                    for (let i = 1; i < this.picked.length; i += 2) {
                        this.picked[i] = this.sep;
                    }
                },
                return_format() {
                    let text = [];
                    for (let i = 0; i < this.picked.length; i++) {
                        let item = this.picked[i];
                        text.push(this.keys[item] ? this.keys[item] : item)
                    }
                    text.push(".xxx")
                    return text.join("")
                },
                return_example() {
                    let text = [];
                    for (let i = 0; i < this.picked.length; i++) {
                        let item = this.picked[i];
                        text.push(this.examples[item] ? this.examples[item] : item)
                    }
                    text.push(".xxx")
                    return text.join("")
                }
            }
        })
        const vm = app.mount('#body');
    </script>

</body>

</html>