* {
    user-select: none;
    --size: 100vw;
    --color: #602f88;
}

body,
html {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

.page-head {
    padding: 0.25em 5%;
    width: 90%;
    background: var(--color);
    color: #ffffff;
    font-size: 3em;
    font-weight: 600;
    overflow: auto;
}

.page-head>.title {
    float: left;
    color: white;
    text-decoration: none;
}

.page-head>.compass {
    float: right;
}

.page-head>.compass>a {
    color: white;
}

.button {
    background: var(--color);
    margin: 0.5em;
    padding: 1em 2em;
    color: #ffffff;
    display: inline-block;
    border-radius: 2em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#body {
    width: 96%;
    border: 0;
    padding: 0;
    margin: 0 2%;
}

#body>tbody>tr>td {
    border-collapse: collapse;
    vertical-align: top;
}

table table {
    margin: 0%;
    display: inline;
}

#body table td {
    padding: 0 2px;
    vertical-align: top;
}

input {
    border: 1px solid var(--color);
}

input[type="text"] {
    width: 80%;
    height: 2em;
    font-size: 2em;
    padding: 0 1em;
    border-radius: 2em;
    border: 2px solid var(--color);
    margin: 0.25em 2%;
}

.tip {
    font-weight: bolder;
    color: var(--color);
    font-size: 1.2em;
}

/* 需要显示空格 */
.raw {
    white-space: pre;
}

.noty_body{
    font-size: 2em!important;
    font-weight: bolder;
}