<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="pragma" content="no-cache" />
    <script src="vue.global.prod.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <title>更新日志</title>
    <style>
        .contain {
            margin: 0 5%;
            width: 90%;
            color: var(--color);
        }

        .contain>div {
            margin: 0 3%;
            width: 96%;
        }

        .contain>div>ol {
            margin: 0 1%;
            width: 98%;
        }
    </style>
</head>

<body>
    <header class="page-head">
        <a class="title" href="/">Format Name</a>
        <div class="compass">
            <a href="https://gitee.com/cxh1205/FormatName/blob/master/README.md#%E4%BD%BF%E7%94%A8%E6%89%8B%E5%86%8C"
                target="_blank">使用手册</a>
        </div>
    </header>
    <table id="body">
        <tr v-for="d in data">
            <td>
                <div class="contain">
                    <h1>版本：{{d.version}}</h1>
                    <div v-if="d.data">
                        <h2>更新内容</h2>
                        <ol>
                            <li v-for="l in d.data">{{l}}</li>
                        </ol>
                    </div>
                    <div v-if="d.issue">
                        <h2>存在的问题</h2>
                        <ol>
                            <li v-for="l in d.issue">{{l}}</li>
                        </ol>
                    </div>
                    <br /><br />
                </div>
            </td>
        </tr>
    </table>
    <script src="update.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    data: update,
                };
            },
        });
        const vm = app.mount("#body");
    </script>
</body>

</html>